# Allow overriding the name in the recipe provider
public-f net.minecraft.data.recipes.RecipeProvider m_6055_()Ljava/lang/String; # getName
public net.minecraft.advancements.critereon.EnchantmentPredicate f_30466_ # enchantment